
.grid-container{
  display: block;
}

@media screen and (min-width: 600px){
  .grid-container {
    display: grid;
    grid-template-columns: 300px 480px 300px;
    grid-template-areas:
      'a b c'
      'a d e';
    grid-gap: 0;
    background-color: transparent;
    padding: 0px;
  }
}

.headshot{
  display: block;
  width: 100%;
  padding-top: 100%;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./../headshot.jpg')
}

.bio p{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  position:relative;
  width: 100%;
  line-height:1.5em;
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
}
@media screen and (min-width: 600px){
  .bio p{
    margin-left: 50px;
    margin-top: 0;
    width: 91%;
  }
}

.bio ul li{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  position:relative;
  width: 91%;
  line-height:1.5em;
  display: list-item;
  margin-left: 0px;
  margin-top: 0;
  vertical-align: top;
}
@media screen and (min-width: 600px){
  .bio ul li{
    width: 91%;
    line-height:1.5em;
    margin-left: 50px;
  }
}

.bio .about-me::before{
  content: "about me:";
  display: block;
  font-family: "Bebas Book";
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 2.2em;
  margin-bottom: 25;
  color: #eb652d;
}
.bio .about-site::before{
  content: "about this website:";
  display: block;
  font-family: "Bebas Book";
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 2.2em;
  margin-bottom: 25;
  color: #eb652d;
}


.bio p a{
  color: #eb652d;
  text-decoration: underline;
}


h3, h4{
  letter-spacing: 2px;
}
h3{
  margin-bottom: 6px;
}
.links{
  display: block;
  margin-left: 0px;
  margin-top: 25px;
}
        
@media screen and (min-width: 600px){
  .links{
    display: block;
    margin-left: 50px;
    margin-top: 25px;
  }
}
