/*make the header image go all the way*/
body{
  margin: 0;
}
/*header image container*/
.header-img {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 20%;
  margin-bottom: 0;
}
@media screen and (min-width: 600px){
  .header-img{
    height: 40%
  }
}
/*header image gradient*/
.gradient1 {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#fff,#dc4225);
  opacity: .5;
}
.gradient2 {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom,#fff,#000);
  opacity: .4;
}

/* Centered header image text */
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-img h2{
  padding: 0;
  margin: 0 auto;
  font-family: "Bebas Light";
  letter-spacing: 6px;
  font-size:1.5em;
  color: #fff;
}
@media screen and (min-width: 600px){
  .header-img h2{
    font-size: 3.5em;
    letter-spacing: 10px;
  }
}
/*project title*/
#title{
  overflow: auto;
  padding: 50 0 20 0;
}
#title h1{
  position:relative;
  font-size: 2em;
}
@media screen and (min-width: 600px){
  #title h1{
    font-size: 4em;
  }
  #title{
    overflow: auto;
    padding: 70 0 60 0;
  }
}
h1{
  display: block;
  text-align: center;
  width: 100%;
}
#title h3{
  display: block;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-size: 1em;
}

@media screen and (min-width: 600px){
  #title h3{
    font-size: 1.17em;
  }
}
/* Slideshow container */
.slides1-container {
  width: 80%;
  position: relative;
  margin: 0 auto; 
}

@media screen and (min-width: 600px){
  .slides1-container {
    width:65%;
  }
}
.slides1 img, .slides3 img{
  width: 100%;
  display: inline-block;
  margin:0 auto ;
}

.slides3-container{
  width: 100%;
  margin-top: 20px;
}

.img-container img{
  width: 100%;
  margin-top: 20px;
}
/*Using slick.js, change some default styling*/
.slick-prev:before, .slick-next:before{
  color:#ed652d80 !important;
}
.slick-dots li button:before{
  color:#ed652d !important;  
}
.slick-prev {
  margin-left: 40px !important;
  z-index: 1;
  }

.slick-next {
  margin-right: 40px !important;
  z-index: 1;
  }

.slick-dots{
  position: absolute;
  display: block;
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.slick-dots li.slick-active button:before{
  font-size: 10px;
  color: #00000090;
}
.slick-dots li button:before{
  opacity: .5;
}
.slides-text-container .slick-dots{
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px auto;
}

.slides2-container {
  display: inline-block;
  width:100%;
  position: relative;
  margin: auto; 
  margin:20px 0px 0px;
  background: white;
}
@media screen and (min-width: 600px){
  .slides2-container {
    width:49%;
    height:auto;
  }
}
.text-slide2{
    max-height: 650px;
    width: 100%;
    margin: 0 auto;
}

.text-slide2 div img{
  height: 160px;
}


.slick-dotted.slick-slider{
  margin-bottom: 10px !important;
}

.text-slide2 .slides2-container:last-of-type{
  float:right;
  margin-bottom: 20px !important;
}
@media screen and (min-width: 600px){
  .text-slide2 .slides2-container:last-of-type{
    margin-bottom: 10px !important;
  }
}
.initial-schemes {
  display: inline-block;
  position: relative;
  margin-left: 9%;
  width: 45%
  overflow: scroll;
}
.initial-schemes img{
  height: 100%;
  display: inline-block;
  margin:0 auto ;
}

/*text body*/
.text{
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 600px){
  .text{
    width: 65%;
    display:grid;
    grid-template-columns: 20% 80%;
  }
}
.text h2{
  color: #eb652d;
  font-family: "Bebas Book";
  font-size: 1.5em;
  margin: 17px 10px 17px 0px;
}
@media screen and (min-width: 600px){
  .text h2{
    font-size: 1.7em;
  }
}
.text h3{
  letter-spacing: 1px;
}
.text p, .text li{
  font-family: 'Noto Serif', serif;;
  font-size: 0.8em;
  color:#555;
  line-height: 1.5em;
  margin: 20px 0px 0px;
}

.text span.li{
  display: list-item; 
  margin-left: 2em
}

.separater{
  height: 1px;
  width: 80%;
  margin: 20px auto 0px;
  background: tomato;
  border: none;
  transition: .4s ease-in-out;
}
@media screen and (min-width: 600px){
  .separater{
    width:65%;
    margin-top: 30px
  }
}
.slides1-container, .slides-text-container{
  box-shadow: -2px 2px 5px #888888aa;
}
.slides2-container, .slides3-container, .img-container img{
  box-shadow: -1px 1px 3px #888888aa;
}

.text .button{
  margin-top: 80px;
  font-size: 20px;
  border: 1px #eb652d solid;
}

.text .button a{
  text-decoration: none;
}

.text span.button{
  margin-top: 10px;
  font-family: "Bebas Book"; 
  font-size: 18px;
}
.text a{
  color: #eb652d;
  text-decoration: underline;
}
/*eggschange*/
.tightImgRow, .tightImgRow2{
  display: flex;
}

.tightImgRow > a:not(:last-child),
.tightImgRow2 > a:not(:last-child){
  margin-right: 1%;
}

.tightImgRow img,
.tightImgRow2 img{
  height: auto;
  vertical-align: middle;
  width: 100%;
}
/*for the eggschange images*/
.img_1_1{ flex: 1.03209459459; }
.img_1_2{ flex: 1.29083665339; }
.img_1_3{ flex: 0.75; }
.img_1_4{ flex: 1.27380952381; }
.img_1_5{ flex: 1.28174603175; }

.img_2_1{ flex: 2.10416666667; }
.img_2_2{ flex: 1.33333333333; }
.img_2_3{ flex: 2.68978805395; }

/*for CUI*/
.img_3_1{ flex: 1.33333333333; }
.img_3_2{ flex: 0.75;}
.img_3_3{ flex: 1.8018018018;}

@media screen and (min-width: 600px){
  .tightImgRow img{
    margin-right:5px;
  }
}
.persona-img{
  display:inline-block !important;
  width: 46%;
  height: auto !important;
  vertical-align: top;
  object-fit: cover;
  float:left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.persona-text{
  background: #e1e1e1;
  padding: 25px;
  border-radius: 15px;
}

.scenario-text{
  vertical-align: top;
  background: #e1e1e1;
  padding: 25px;
  border-radius: 15px;
}

.scenario-text img{
  margin: 0 auto;
  width: 100%;
  height:auto !important;
}
@media screen and (min-width: 600px){
  .scenario-text img{
    margin:0 auto;
    height: 78% !important;
  }
}
.persona-text h2, .persona-text h3, .persona-text p, 
.scenario-text h2, .scenario-text p {
  margin: 0;
}
.persona-text h2,
.scenario-text h2{
  font-size:20px;
}
.persona-text h3{
  letter-spacing:1px;
  font-size:16px;
}
.persona-text p,
.scenario-text p{
  font-size: 0.8em;
}

::-webkit-scrollbar { width: 15px !important; margin-right: 25px; background: #666;}
::-webkit-scrollbar-track { background: #e1e1e1; }
::-webkit-scrollbar-thumb { background: #bbb; }
::-webkit-scrollbar-thumb:hover { background: #eb652d8f; }

iframe{
  margin: 0px;
  width: 100%;
  height: 600px;
}
.slides-text-container{
  margin-top: 20px;
  width: 100%;
  border-radius: 15px;
}