/*make the header image go all the way*/
body{
  margin: 0;
}
/*header image container*/
.header-img {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 40%;
  margin-bottom: 0;
}
/*header image gradient*/
.gradient1 {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#fff,#dc4225);
  opacity: .5;
}
.gradient2 {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom,#fff,#000);
  opacity: .4;
}

/* Centered header image text */
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-img h2{
  padding: 0;
  margin: 0 auto;
  font-family: "Bebas Light";
  letter-spacing: 6px;
  font-size:1.5em;
  color: #fff;
}
@media screen and (min-width: 600px){
  .header-img h2{
    font-size: 3.5em;
    letter-spacing: 10px;
  }
}
/*project title*/
#title{
  overflow: auto;
  padding: 70 0 70 0;
}
#title h1{
  position:relative;
  font-size: 2em;
}
@media screen and (min-width: 600px){
  #title h1{
    font-size: 4em;
  }
}
h1{
  display: block;
  text-align: center;
  width: 100%;
}
#title h3{
  display: block;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-size: 1em;
}
@media screen and (min-width: 600px){
  #title h3{
    font-size: 1.17em;
  }
}
/* Slideshow container */
.slides1-container {
  width: 80%;
  position: relative;
  margin: 0 auto; 
  margin-bottom: 0 !important;
}

.text .slides2-container.slick-dotted.slick-slider:first-of-type{
  margin-bottom: 10px;
}
@media screen and (min-width: 600px){
  .text .slides2-container.slick-dotted.slick-slider:first-of-type{
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 600px){
  .slides1-container {
    width:65%;
  }
}
.slides2-container {
  display: inline-block;
  width:100%;
  position: relative;
  margin: auto; 
  margin-top:0px;
  background: white;
}
@media screen and (min-width: 600px){
  .slides2-container {
    width:49%;
    height:auto;
    margin-top: 20px;
  }
}
.text-slide2{
  max-height: 650px;
}
.initial-schemes {
  display: inline-block;
  position: relative;
  margin-left: 9%;
  width: 45%
  overflow: scroll;
}
.initial-schemes img{
  height: 100%;
  display: inline-block;
  margin:0 auto ;
}


.slides1 img{
  width: 100%;
  display: inline-block;
  margin:0 auto ;
}

/*Using slick.js, change some default styling*/
.slick-prev:before, .slick-next:before{
  color:#00000080 !important;
}

.slick-prev {
  margin-left: 40px !important;
  z-index: 1;
  }

.slick-next {
  margin-right: 40px !important;
  z-index: 1;
  }

.slick-dots{
  position: absolute;
  bottom: 1%;
  display: block;
  width: 100%;
  padding: 10;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li.slick-active button:before{
  font-size: 10px;
  color: #00000090;
}
.slick-dots li button:before{
  opacity: .5;
}

/*text body*/
.text{
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 600px){
  .text{
    width: 65%;
  }
}
.text h2{
  color: #eb652d;
  font-family: "Bebas Book";
  font-size: 1.5em;
}
@media screen and (min-width: 600px){
  .text h2{
    font-size: 1.7em;
  }
}

.text p, .text li{
  font-family: 'Source Code Pro', monospace;
  font-weight: Extra-light;
  color:#555;
}

.text div img{
  height: 40% 
}

.text .slides2-container:last-of-type{
  float:right;
}

.separater{
  height: 1px;
  width: 80%;
  margin: 5px auto;
  background: tomato;
  border: none;
  transition: .4s ease-in-out;
}
@media screen and (min-width: 600px){
  .separater{
    width:65%;
  }
}
.slides1-container, .slides-text-container{
  box-shadow: -2px 2px 5px #888888aa;
}
.slides2-container{
  box-shadow: -1px 1px 3px #888888aa;
}

.text .button{
  margin-top: 80px;
  font-size: 20px;
  border: 1px #eb652d solid;
}

.text .button a{
  text-decoration: none;
}

.text a{
  color: #eb652d;
  text-decoration: underline;
}


.tightImgRow img{
  height: 200px !important;
  max-width: 18%;
  object-fit: cover;
  margin-right:0px;
}
@media screen and (min-width: 600px){
  .tightImgRow img{
    height: 200px !important;
    max-width: 18%;
    object-fit: cover;
    margin-right:5px;
  }
}
.persona-img{
  display:inline-block !important;
  width: 46%;
  height: auto !important;
  vertical-align: top;
  object-fit: cover;
  float:left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.persona-text{
  background: #e1e1e1;
  padding: 25px;
  border-radius: 15px;
}

.scenario-text{
  vertical-align: top;
  background: #e1e1e1;
  padding: 25px;
  border-radius: 15px;
}

.scenario-text img{
  margin: 0 auto;
  width: 100%;
  height:auto !important;
}
@media screen and (min-width: 600px){
  .scenario-text img{
    margin:0 auto;
    height: 78% !important;
    width:auto;
  }
}
.persona-text h2, .persona-text h3, .persona-text p, 
.scenario-text h2, .scenario-text p {
  margin: 0;
}
.persona-text h2,
.scenario-text h2{
  font-size:20px;
}
.persona-text h3{
  letter-spacing:1px;
  font-size:16px;
}
.persona-text p,
.scenario-text p{
  font-size: 14px;
}

::-webkit-scrollbar { width: 5px !important; margin-right: 25px; }
::-webkit-scrollbar-track { background: #e1e1e1; }
::-webkit-scrollbar-thumb { background: #ddd; }
::-webkit-scrollbar-thumb:hover { background: #eb652d8f; }

iframe{
  width: 100%;
  height: 70%;
}

.slides-text-container{
  margin-top: 25px;
  width: 100%;
  border-radius: 15px;
}